*{
    box-sizing: border-box;
}

head {
    display: none;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
    max-width: 720px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.flex-nowrap {
    flex-wrap: nowrap!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blog-header {
    line-height: 1;
}

.pb-3 {
    padding-bottom: 1rem!important;
}

.pt-1 {
    padding-top: .25rem!important;
}

.px-0 {
    padding-left: 0!important;
    padding-left: 0!important;
}

.py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-2 {
    margin-bottom: .5rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.col-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col-md-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.6667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-muted {
    color: #6c757d!important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.text-center {
    text-align: center!important;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.text-dark {
    color: #343a40!important;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-end {
    justify-content: flex-end!important;
}

.d-flex {
    display: flex!important;
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.blog-pagination > .btn {
    border-radius: 2rem;
}

.blog-pagination {
    margin-bottom: 4rem;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary.disabled,{
    color: #6c757d;
    background-color: transparent;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn.disabled {
    opacity: .65;
}

div {
    display: block;
}

main{
    display: block;
}

.blog-footer {
    padding-top: 2.5rem;
    padding-right: 0px;
    padding-bottom: 2.5rem;
    padding-left: 0px;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top-width: 0.05rem;
    border-top-style: solid;
    border-top-color: rgb(229, 229, 229);
}

footer {
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.p-2 {
    padding: .5rem!important;
}

.p-3 {
    padding: 1rem!important;
}

script {
    display: none;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.text-white {
    color: #fff!important;
}

.p-md-5 {
    padding: 3rem!important;
}

.rounded {
    border-radius: .25rem!important;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.bg-dark {
    background-color: #343a40!important;
}

.jumbotron {
    margin-bottom: 2rem;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.font-italic {
    font-style: italic!important;
}

em {
    font-style: italic;
}

.font-weight-bold {
    font-weight: 700!important;
}

h1 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    margin-top: 0;
    margin-bottom: .5rem;
    color: inherit;
}

h2 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h4 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.blog-pagination {
    margin-bottom: 4rem;
}

nav {
    display: block;
}

aside {
    display: block;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}

ol {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.rply-form {
  margin-top: 30px;
}
