{%extends "block_body.html"%}

{%block body%}
<div class="container">
  <div class="col-xs-6">
    <div class="colored"> Hello, Marco. This ia an assignment.</div>
  </div>
  <div class="col-xs-6">
    {%for article in article_list%}
    <div>
      {{article.title}}
      <span class="label label-default">{{article.view_count}}</span>
    </div>
    {%endfor%}
  </div>
  <div class="col-xs-12">
    <i class="far fa-address-card"></i>
    <i class="fab fa-adversal"></i>
  </div>
</div>
{%endblock%}
