{% extends "base.html" %}
{% block title %}Baemin Signup{% endblock %}
{% block body %}
<div class="text-center">
  <form method="post" action="" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="text" name="username"
      class="form-control" placeholder="Username" required="" autofocus="">
    <input type="email" name="email"
      class="form-control" placeholder="Email address" required="">
    <input type="password" name="password"
      class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign up
    </button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
{% endblock %}
